<div class="container">
  <div>
    <button
      class="btn-light-sm"
      style="padding: 0 10px 0 5px"
      (click)="dashboard()"
    >
      Back to appointments
    </button>
  </div>
  <form id="myform" #f="ngForm" (ngSubmit)="submit($event)">
    <div class="row">
      <div class="col-sm-4" style="padding-top: 10px">
        <mat-calendar [(selected)]="appointmentDTO.Date"> </mat-calendar>
      </div>
    </div>
    <div class="row" style="padding-top: 10px">
      <div class="col-sm-6">
        <div class="btn" *ngFor="let i of [9, 10, 11, 12, 14, 15, 16, 17]">
          <button
            [class.picked]="this.timePicked == i"
            type="button"
            id="{{ i }}"
            (click)="setTime($event)"
          >
            {{ i }}:00
          </button>
        </div>
      </div>
    </div>
    <br />
    <div style="padding: 0 10px 0 10px">
      <h3>Patient Details</h3>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Pet Parent</mat-label>
        <mat-select [value]="this.appointmentDTO.ownerId"
          (selectionChange)="this.appointmentDTO.ownerId=$event.value;updatePetsBox()">
          <mat-option style="color:black" *ngFor="let o of owners" [value]="o.OwnerId">
            {{o.Name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Pet Name</mat-label>
        <mat-select [(value)]="this.appointmentDTO.petId">
          <mat-option style="color:black" *ngFor="let o of pets" [value]="o.PetId">
            {{o.PetName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div style="padding: 0 5px 0 5px">
      <h3>Other Details</h3>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Issue</mat-label>
        <input matInput [(ngModel)]="appointmentDTO.issue" name="issues" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Reason</mat-label>
        <textarea
          matInput
          [(ngModel)]="appointmentDTO.reason"
          name="reason"
        ></textarea>
      </mat-form-field>
    </div>
    <div class="modal" id="mymodal">
      <div class="modal-content">
        <div class="d-flex justify-content-center mt-2">
          <svg
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill="orange"
              stroke="#000"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12,3 L22,21 L2,21 L12,3 Z M12,9 L12,15 M12,16 L12,18"
            />
          </svg>
        </div>
        <div class="d-flex flex-column align-items-center">
          <h4><b>Book Appointment</b></h4>
          <h6><b>Do you want to book the appointment ?</b></h6>
        </div>
        <div class="d-flex justify-content-around mb-3">
          <button class="btn btn-primary" type="button" (click)="closeModal()">
            cancel
          </button>
          <button class="btn btn-danger">Yes</button>
        </div>
      </div>
    </div>
    <div id="overlay"></div>
  </form>
  <div>
    <button class="btn btn-primary" type="button" (click)="openModal()">
      Submit
    </button>
  </div>
</div>
