<mat-card class="inline-calender">
  <mat-card-title>
    <div id="dateForm">
      <div>
        <input name="startDate" placeholder="startDate" />
      </div>
      <div>
        <input name="endDate" placeholder="endDate" />
      </div>
    </div>
  </mat-card-title>
  <mat-card-content>
    <mat-calendar> </mat-calendar>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>Cancel</button>
    <button mat-raised-button color="primary">Apply</button>
  </mat-card-actions>
</mat-card>
