<div class="container">
  <div class="row g-0">
    <div class="col-sm">
      <div class="card" style="width: 15rem">
        <img />
        <h4 class="card-title">Total</h4>
        <h1 class="card-body">{{ total }}</h1>
      </div>
    </div>

    <div class="col-sm">
      <div class="card" style="width: 15rem">
        <img />
        <h4 class="card-title">Confirmed</h4>
        <h1 class="card-body">{{ confirmed }}</h1>
      </div>
    </div>

    <div class="col-sm">
      <div class="card" style="width: 15rem">
        <img />
        <h4 class="card-title">Closed</h4>
        <h1 class="card-body">{{ closed }}</h1>
      </div>
    </div>

    <div class="col-sm">
      <div class="card" style="width: 15rem">
        <img />
        <h4 class="card-title">Cancelled</h4>
        <h1 class="card-body">{{ cancelled }}</h1>
      </div>
    </div>
  </div>
</div>
